body {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: 0px 0px 0px 0px;

    font-family: Arial, sans-serif;
}

header {
    border: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    padding: 20px;
    height: 21px;
    
    background-color: #d9dee4;
    color: black;

    font-family: Arial;
    
    display: flex;
    justify-content: space-between;
}

.head_nav {
    display: flex;
    gap: 20px;
}

.logo {
    height: 30px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: 0px 0px 0px 0px;
}

.home {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: 0px 0px 0px 0px;
    overflow: auto;

    width: 100%;
    height: 90vh;

    background-image: url('../ressources/home_background.png');
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home h1,
.home h2 {
    margin-top: 0;
    font-size: 50px;
    color: black;
    text-shadow: 2px 2px 2px gray;
}

.home_btns {
    display: flex;
    gap: 10px;
}

.btn {
    padding: 10px 22px;
    border-radius: 12px;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid #cfcfcf;
    cursor: pointer;
    transition: 0.2s;
}


.btn-white {
    background-color: white;
    color: black;
}

.btn-grey {
    background-color: #e6e6e6;
    color: black;
}



.btn-black {
    background-color: #1d1d1d;
    color: white;
}


.btn:hover {
    transform: translateY(-1px);
    filter: brightness(1.05);
}

a {
    text-decoration: none;
    color: black;
}

.about_me {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
}
.presentation_text {
    width: 40%;
    text-align: justify;
    font-size: large;
    
}
.portrait_image {
    width: 30%;
}
.footer {
    padding: 15px;
    background-color: #d9dee4;
}