body {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: 0px 0px 0px 0px;

    font-family: Arial, sans-serif;
}

header {
    border: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    padding: 20px;
    height: 21px;
    
    background-color: #d9dee4;
    color: black;

    font-family: Arial;
    
    display: flex;
    justify-content: space-between;
}

.head_nav {
    display: flex;
    gap: 20px;
}

.logo {
    height: 30px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: 0px 0px 0px 0px;
}

a {
    text-decoration: none;
    color: black;
}

.home {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: 0px 0px 0px 0px;
    overflow: auto;

    width: 100%;
    height: 90vh;

    background-image: url('../ressources/home_background.png');
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home h1 {
    margin-top: 0;
    font-size: 50px;
    color: black;
    text-shadow: 2px 2px 2px gray;
}